<!--<navbar></navbar>-->

<main class="container">

  <div class="row">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#historias" aria-controls="home" role="tab" data-toggle="tab">Historias Clinicas</a>
      </li>
      <li role="presentation">
        <a href="#medicos" aria-controls="messages" role="tab" data-toggle="tab">Medicos</a>
      </li>
      <li role="presentation">
        <a href="#os" aria-controls="settings" role="tab" data-toggle="tab">Obras Sociales</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <history class="history-component"></history>
      <div role="tabpanel" class="tab-pane" id="medicos">...</div>
      <div role="tabpanel" class="tab-pane" id="os">...</div>
    </div>

  </div>

</main>
